<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>ÁgoraUS - Recuento y modificación de votos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=es">
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.amber-orange.min.css" />
    <link rel="stylesheet" href="../public/css/styles.css" />
	<link rel="icon" type="image/png" href="../public/img/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
            <div class="mdl-layout__header-row portfolio-logo-row">
                <span class="mdl-layout__title">
                    <div class="portfolio-logo"></div>
                    <span class="mdl-layout__title">AgoraUs-Recuento y modificación de votos</span>
                </span>
            </div>
            <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
                <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                    <a class="mdl-navigation__link is-active" href="bienvenido.html">Bienvenido</a>
                    <a class="mdl-navigation__link" href="recuento.html">Recuento de votos</a>
					<a class="mdl-navigation__link" href="emitirVoto.html">Emitir voto</a>
					<a class="mdl-navigation__link" href="verVotacion.html">Ver votación</a>
					<a class="mdl-navigation__link" href="verVotaciones.html">Ver votaciones</a>
                    <a class="mdl-navigation__link" href="modificacion.html">Modificación de votos</a>
                    <a class="mdl-navigation__link" href="eliminacion.html">Eliminación de votos</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer mdl-layout--small-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                    <a class="mdl-navigation__link is-active" href="bienvenido.html">Bienvenido</a>
                    <a class="mdl-navigation__link" href="recuento.html">Recuento de votos</a>
					<a class="mdl-navigation__link" href="emitirVoto.html">Emitir voto</a>
					<a class="mdl-navigation__link" href="verVotacion.html">Ver votación</a>
					<a class="mdl-navigation__link" href="verVotaciones.html">Ver votaciones</a>
                    <a class="mdl-navigation__link" href="modificacion.html">Modificación de votos</a>
                    <a class="mdl-navigation__link" href="eliminacion.html">Eliminación de votos</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width">
				<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-grid portfolio-copy">
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Introducción</h3>
                        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                            <p>
							Este proyecto corresponde al módulo de Recuento y Modificación de votos de Agora@US 2016/17 del grupo 1.
                            </p>
                        </div>
					</div>
				</div>
				<div class="mdl-cell mdl-card mdl-shadow--dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="image" src="../public/img/agubordia.jpg" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Agustín Borrego Díaz</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>Coordinador - API REST</p>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://github.com/agubelu">GitHub</a>
                    </div>
                </div>
				<div class="mdl-cell mdl-card mdl-shadow--dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="image" src="../public/img/davsanboi.jpg" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">David de los Santos Boix</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                       <p> Desarrollador - Autenticación | Integración </p>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://github.com/Dionakra">GitHub</a>
                    </div>
                </div>
                <div class="mdl-cell mdl-card mdl-shadow--dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="image" src="../public/img/rafgardom.jpg" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Rafael García Domínguez</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Desarrollador - Modificación de Votos
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://github.com/rafgardom">GitHub</a>
                    </div>
                </div>
				<div class="mdl-cell mdl-card mdl-shadow--dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="image" src="../public/img/mantejvel.jpg" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Manuel Tejero Vela</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Desarrollador - Interfaz Gráfica
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://github.com/mantejvel">GitHub</a>
                    </div>
                </div>
				<div class="mdl-cell mdl-card mdl-shadow--dp portfolio-card">
                    <div class="mdl-card__media">
                        <img class="image" src="../public/img/enrbozmar.jpg" border="0" alt="">
                    </div>
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Jesús Enrique Bozada Márquez</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Desarrollador - Recuento de votos
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="https://github.com/enruiq">GitHub</a>
                    </div>
                </div>
       
            </div>
            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">AgoraUs 2016/2017</div>
                </div>
                <div class="mdl-mini-footer__right-section">
                    <ul class="mdl-mini-footer__link-list">
                        <li><a target="_blank" href="https://github.com/AgoraUS-G1-1617/Recuento-y-modificacion"><img class="article-image" src="../public/img/github.png"></a> </li>
                    </ul>
                </div>
            </footer>
        </main>
    </div>
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</body>

</html>
