<!DOCTYPE html>
<html>
  <head>
    <title>AgoraUS - Recuento y Modificación de Votos</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../public/css/materialize.min.css"  media="screen,projection"/>
    <link rel="icon" type="image/png" href="../public/img/favicon.ico" />
    <link type="text/css" rel="stylesheet" href="../public/css/custom.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../public/css/animate.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../public/js/materialize.min.js"></script>
    <script type="text/javascript" src="../public/js/functions.js"></script>


    <script>
      function recuento(){
        performAjax("formRecuento", "api/recontarVotacion", "GET", resRecuento);
      }

      function modificacion(){
        performAjax("formModificacion", "api/modificarVoto", "POST", resModificacion);
      }

      function eliminacion(){
        performAjax("formEliminacion", "api/eliminarVoto", "DELETE", resEliminacion);
      }

    </script>
  </head>

  <body>
    <div class="container animated fadeInDown">
      <div class="col s12 center-align">
        <img class="responsive-img" src="../public/img/agora-logo.png">
      </div>

      <br>
      <div class="divider"></div>
      <br>

      <div id="integrantes" class="row col l10 offset-l1 m10 offset-m1 s10 offset-s1 hide-on-small-only">
        <div class="col s12 m6 l4">
          <div class="grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s3">
                <img src="../public/img/agubordia.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s9">
                <span class="black-text">
                  <p>Agustín Borrego Díaz</p>
                  <p class="truncate"><strong>Coordinador</strong> - API REST</p>
                </span>
              </div>
            </div>
          </div>
        </div>

         <div class="col s12 m6 l4">
          <div class="grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s3">
                <img src="../public/img/davsanboi.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s9">
                <span class="black-text">
                  <p>David de los Santos Boix</p>
                  <p class="truncate"><strong>Desarrollador</strong> - Autenticación | Integración</p>
                </span>
              </div>
            </div>
          </div>
        </div>

         <div class="col s12 m6 l4">
          <div class="grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s3">
                <img src="../public/img/rafgardom.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s9">
                <span class="black-text">
                  <p>Rafael García Domínguez</p>
                  <p class="truncate"><strong>Desarrollador</strong> - Modificación de Votos</p>
                </span>
              </div>
            </div>
          </div>
        </div>

         <div class="col s12 m6 l4 offset-l2">
          <div class="grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s3">
                <img src="../public/img/mantejvel.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s9">
                <span class="black-text">
                  <p>Manuel Tejero Vela</p>
                  <p class="truncate"><strong>Desarrollador</strong> - Interfaz Gráfica</p>
                </span>
              </div>
            </div>
          </div>
        </div>

         <div class="col s12 m6 l4 offset-m3">
          <div class="grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s3">
                <img src="../public/img/enrbozmar.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s9">
                <span class="black-text">
                  <p>Jesús Enrique Bozada Márquez</p>
                  <p class="truncate"><strong>Desarrollador</strong> - Recuento de Votos</p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class=" divider hide-on-small-only"></div>
      <br>

      <div class="row">
        <div class="col s12 m4 l4">
          <h5>Recuento de Votaciones</h5>
          <div class="row">
            <form id="formRecuento" name="formRecuento" class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input id="idVotacion" name="idVotacion" placeholder="Id de Votación" type="text" class="validate">
                  <label for="Id Votación">Id Votación</label>
                </div>
              </div>

              <div class="row center-align">
                <button class="btn waves-effect waves-light orange" onclick="recuento(); return false;" name="Enviar">Enviar
                  <i class="material-icons right">send</i>
                </button>
              </div>

              <div class="divider"></div>
              <pre class="row" id="resRecuento" name="resRecuento" style="font-size: 12px;">
              </pre>
            </form>
          </div>
        </div>

        <div class="col s12 m4 l4">
          <h5>Modificación de Votos</h5>
          <div class="row">
            <form name="formModificacion" id="formModificacion" class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Token Usuario" id="token" name="token" type="text" class="validate">
                  <label for="Token Usuario">Token Usuario</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="idVotacion" name="idVotacion" placeholder="Id de Votación" type="text" class="validate">
                  <label for="Id Votación">Id Votación</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="idPregunta" name="idPregunta" placeholder="Id de Pregunta" type="text" class="validate">
                  <label for="Id Pregunta">Id Pregunta</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="nuevoVoto" name="nuevoVoto" placeholder="Nuevo Voto" type="text" class="validate">
                  <label for="Nuevo Voto">Nuevo Voto</label>
                </div>
              </div>

              <div class="row center-align">
                <button class="btn waves-effect waves-light orange" onclick="modificacion(); return false;" name="Enviar">Enviar
                  <i class="material-icons right">send</i>
                </button>
              </div>

              <div class="divider"></div>
              <pre class="row" id="resModificacion" style="font-size: 12px;">
              </pre>
            </form>
          </div>
        </div>

        <div class="col s12 m4 l4">
          <h5>Eliminación de Votos</h5>
          <div class="row">
            <form name="formEliminacion" id="formEliminacion" class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="Token Usuario" id="token" name="token" type="text" class="validate">
                  <label for="Token Usuario">Token Usuario</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="idVotacion" name="idVotacion" placeholder="Id de Votación" type="text" class="validate">
                  <label for="Id Votación">Id Votación</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="idPregunta" name="idPregunta" placeholder="Id de Pregunta" type="text" class="validate">
                  <label for="Id Pregunta">Id Pregunta</label>
                </div>
              </div>

              <div class="row center-align">
                <button class="btn waves-effect waves-light orange" onclick="eliminacion(); return false;" type="submit" name="Enviar">Enviar
                  <i class="material-icons right">send</i>
                </button>
              </div>

              <div class="divider"></div>
              <pre class="row" id="resEliminacion" style="font-size: 12px;">
              </pre>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
        