<html>
<head>
	<meta charset="UTF-8">
	<title>Formulario de eliminacion de votos</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
		<!--ProbarEliminarVotacion-->
		function probarEliminarVoto(){
			var postData = $("#eliminacion").serialize();
			document.resultados.innerHTML = "";
			$.ajax(
				{
					url : "api/eliminarVoto", 
					type: "POST",
					data : postData,
					success:function(data, textStatus, jqXHR) 
					{
						   resultados.appendChild(document.createElement('pre')).innerHTML = JSON.stringify(data, null, 2);
					},
					error: function(jqXHR, textStatus, errorThrown) 
					{
						alert(errorThrown);
						console.log(textStatus);
						//if fails      
					}
				});
		}
	</script>
</head>
<body>

	<form id="eliminacion" name="eliminacion" method="delete">
		Token:<input type="text" id="token" name="token"/>
		idVotacion:<input type="text" id="idVotacion" name="idVotacion"/>
		idPregunta:<input type="text" id="idPregunta" name="idPregunta"/>
		<input type="button" id="Eliminar" value="Eliminar" onClick="probarEliminarVoto();"/>
	<form>
	</br>
	
	<div id="resultados"/>
</body>
</html>

