<html>
<head>
	<meta charset="UTF-8">
	<title>Formulario de recuento de votos</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
		<!--ProbarRecuento-->
		function probarRecuento(){
			var postData = $('#recuento').serialize();
			
			$.ajax(
				{
					url : "/api/recontarVotacion", 
					type: "GET",
					data : postData,
					success:function(data, textStatus, jqXHR) 
					{
						   resultados.appendChild(document.createElement('pre')).innerHTML = JSON.stringify(data, null, 2);
					},
					error: function(jqXHR, textStatus, errorThrown) 
					{
						alert(errorThrown);
						console.log(textStatus);
						//if fails      
					}
				});
		}
	</script>
</head>
<body>
	<form id="recuento" name="recuento" method="get">
		Token:<input type="text" id="token" name="token"/>
		idVotacion:<input type="text" id="idVotacion" name="idVotacion"/>
		<input type="button" id="clickRecuento" onClick="probarRecuento();" value="Contar" />
		
	<form>
	</br>
	
	<div id="resultados"/>
</body>
</html>

