<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>ÁgoraUS - Recuento y modificación de votos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=es">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.amber-orange.min.css" />
    <link rel="stylesheet" href="../public/css/styles.css" />
	<link rel="icon" type="image/png" href="../public/img/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../public/js/functions.js"></script>
	<script>
      function modificacion(){
        performAjax("formModificacion", "/api/modificarVoto", "POST", resModificacion);
      }
	  </script>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
            <div class="mdl-layout__header-row portfolio-logo-row">
                <span class="mdl-layout__title">
                    <div class="portfolio-logo"></div>
                    <span class="mdl-layout__title">AgoraUs-Recuento y modificación de votos</span>
                </span>
            </div>
            <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
                <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                    <a class="mdl-navigation__link" href="index.html">Bienvenido</a>
                    <a class="mdl-navigation__link" href="recuento.html">Recuento de votos</a>
					<a class="mdl-navigation__link" href="emitirVoto.html">Emitir voto</a>
					<a class="mdl-navigation__link" href="verVotacion.html">Ver votación</a>
					<a class="mdl-navigation__link" href="verVotaciones.html">Ver votaciones</a>
                    <a class="mdl-navigation__link is-active" href="modificacion.html">Modificación de votos</a>
                    <a class="mdl-navigation__link" href="eliminacion.html">Eliminación de votos</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer mdl-layout--small-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                    <a class="mdl-navigation__link" href="index.html">Bienvenido</a>
                    <a class="mdl-navigation__link" href="recuento.html">Recuento de votos</a>
					<a class="mdl-navigation__link" href="emitirVoto.html">Emitir voto</a>
					<a class="mdl-navigation__link" href="verVotacion.html">Ver votación</a>
					<a class="mdl-navigation__link" href="verVotaciones.html">Ver votaciones</a>
                    <a class="mdl-navigation__link is-active" href="modificacion.html">Modificación de votos</a>
                    <a class="mdl-navigation__link" href="eliminacion.html">Eliminación de votos</a>
            </nav>
        </div>
       <main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width portfolio-contact">
                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Modificación de votos</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <p>
                            En este apartado podremos modificar un voto tras pasarle el token, el id de la votación, el id de la pregunta y el nuevo voto.
                        </p>
                        <form id="formModificacion" name="formModificacion" method="post">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="Token" name="token">
                                <label class="mdl-textfield__label" for="Name">Token</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="IdVotacion" name="idVotacion">
                                <label class="mdl-textfield__label" for="IdVotacion">IdVotación</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="IdPregunta" name="idPregunta">
                                <label class="mdl-textfield__label" for="IdPregunta">IdPregunta</label>
                            </div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="nuevoVoto" name="nuevoVoto">
                                <label class="mdl-textfield__label" for="NuevoVoto">Nuevo voto</label>
                            </div>
                            <p>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="button" onClick="modificacion();">
                                    Modificar
                                </button>
                            </p>
                        </form>
						<div id="resModificacion" >
						</div>
                    </div>
                </div>
            </div>
            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">AgoraUs 2016/2017</div>
                </div>
                <div class="mdl-mini-footer__right-section">
                    <ul class="mdl-mini-footer__link-list">
                        <li><a target="_blank" href="https://github.com/AgoraUS-G1-1617/Recuento-y-modificacion"><img class="article-image" src="../public/img/github.png"></a> </li>
                    </ul>
                </div>
            </footer>
        </main>
    </div>
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</body>

</html>
