<html>
<head>
	<meta charset="UTF-8">
	<title>Formulario de modificación de votos</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
		
		<!--ProbarEditarVotacion-->
		function probarModificarVoto(){
			var postData = $("#modificacion").serialize();
			document.getElementById('resultados').innerHTML = "";
			$.ajax(
				{
					url : "/api/modificarVoto", 
					type: "POST",
					data : postData,
					success:function(data, textStatus, jqXHR) 
					{
						   resultados.appendChild(document.createElement('pre')).innerHTML = JSON.stringify(data, null, 2);
					},
					error: function(jqXHR, textStatus, errorThrown) 
					{
						resultados.appendChild(document.createElement('pre')).innerHTML = JSON.stringify(jqXHR.responseJSON, null, 2); 
					}
				});
		}
	</script>
</head>
<body>
	<form id="modificacion" name="modificacion" method="post" >
		Token:<input type="text" id="token" name="token"/>
		idVotacion:<input type="text" id="idVotacion" name="idVotacion"/>
		idPregunta:<input type="text" id="idPregunta" name="idPregunta"/>
		nuevoVoto:<input type="text" id="nuevoVoto" name="nuevoVoto"/>
		<input type="button" id="clickModificar" onClick="probarModificarVoto();" value="Guardar" />
	<form>
	</br>
	
	<div id="resultados"/>
</body>
</html>

